In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.2'

In [4]:
df = pd.read_csv('/home/vologzhaninsergey23/data-engineering-zoomcamp/01-docker-terraform/2_docker_sql/taxi_data/green_tripdata_2019-10.csv')

/tmp/ipykernel_5228/1994452295.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/home/vologzhaninsergey23/data-engineering-zoomcamp/01-docker-terraform/2_docker_sql/taxi_data/green_tripdata_2019-10.csv')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 476386 entries, 0 to 476385
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               387007 non-null  float64
 1   lpep_pickup_datetime   476386 non-null  object
 2   lpep_dropoff_datetime  476386 non-null  object
 3   store_and_fwd_flag     387007 non-null  object
 4   RatecodeID             387007 non-null  float64
 5   PULocationID           476386 non-null  int64
 6   DOLocationID           476386 non-null  int64
 7   passenger_count        387007 non-null  float64
 8   trip_distance          476386 non-null  float64
 9   fare_amount            476386 non-null  float64
 10  extra                  476386 non-null  float64
 11  mta_tax                476386 non-null  float64
 12  tip_amount             476386 non-null  float64
 13  tolls_amount           476386 non-null  float64
 14  ehail_fee              0 non-null       float64
 15  improvement_surcharge  476386 non-null  float64
 16  total_amount           476386 non-null  float64
 17  payment_type           387007 non-null  float64
 18  trip_type              387005 non-null  float64
 19  congestion_surcharge   387007 non-null  float64
dtypes: float64(15), int64(2), object(3)
memory usage: 72.7+ MB

In [12]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime   = pd.to_datetime(df.lpep_dropoff_datetime  )

In [3]:
from sqlalchemy import create_engine

In [4]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [5]:
engine.connect()

In [18]:
print(pd.io.sql.get_schema(df, 'green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" FLOAT(53),
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [22]:
df_iter = pd.read_csv('taxi_data/green_tripdata_2019-10.csv', iterator=True, chunksize=100000)

In [23]:
df = next(df_iter)

In [24]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime   = pd.to_datetime(df.lpep_dropoff_datetime  )

In [26]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace') #create a table with the col nmaes from head

0

In [28]:
%time df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

CPU times: user 7.9 s, sys: 160 ms, total: 8.06 s
Wall time: 14.2 s

1000

In [29]:
from time import time

In [30]:
while True:
    t_start = time()
    df = next(df_iter)
    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime   = pd.to_datetime(df.lpep_dropoff_datetime  )
    df.to_sql(name='green_taxi_data', con=engine, if_exists='append')
    t_end = time()

    

    print('inserted one more chunk.., took%.3f second' % (t_end - t_start))

inserted one more chunk.., took14.147 second
inserted one more chunk.., took14.569 second

/tmp/ipykernel_5228/2673557397.py:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted one more chunk.., took14.279 second
inserted one more chunk.., took9.427 second

StopIteration:

In [7]:
df = pd.read_csv('taxi_data/taxi_zone_lookup.csv')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LocationID    265 non-null    int64
 1   Borough       265 non-null    object
 2   Zone          264 non-null    object
 3   service_zone  263 non-null    object
dtypes: int64(1), object(3)
memory usage: 8.4+ KB

In [9]:
print(pd.io.sql.get_schema(df, 'taxi_zone_lookup', con=engine))

CREATE TABLE taxi_zone_lookup (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [10]:
df.head(n=0).to_sql(name='taxi_zone_lookup', con=engine, if_exists='replace') #create a table with the col nmaes from head

0

In [11]:
df.to_sql(name='taxi_zone_lookup', con=engine, if_exists='replace') #create a table with the col nmaes from head

265